doctype html
html

  head
  
    title Big Outsource Intranet
    meta(name='author', content='Jigno Alfred V. Venezuela')

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


    block scripts
    
  body
  
    .header-wb
      h1.page-title Big Outsource

      ul.nav-wb
        li: a(href='/') Home
        li: a(href='/exam') Applicant Assessment
        li: a(href='/intern') Intern Tools
        li: a(href='#about') About
        li: a(href='#contact') Contact

    .main-content
      block content

    .footer-wb
      p Copyright 2017 Jigno Alfred V. Venezuela © Big Outsource
