doctype html
html

  head
  
    title Big Outsource Intranet
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='author', content='Jigno Alfred V. Venezuela')

    block scripts
    
  body
  
    .header-wb
      h1.page-title Big Outsource

      ul.nav-wb
        li: a(href='/') Home
        li: a(href='/exam') Applicant Assessment
        li: a(href='/intern') Intern Tools
        li: a(href='#contact') Contact
        li: a(href='#about') About

    .main-content
      block content

    .footer-wb
      p Copyright © Jigno Alfred V. Venezuela 2017 for Big Outsource.
