doctype html
html

  head
  
    title Big Outsource Intranet
    meta(name='author', content='Jigno Alfred V. Venezuela')

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
    script(type='text/javascript', src='/javascripts/topnav.js')    
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    block scripts
    
  body
  
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
            
          .small-logo-container
            a.small-logo(href='#') ↥Big Outsource
            
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='/') Home
            li
              a(href='/exam') Applicant Assessment
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown') Intern Tools 
                b.caret
              ul.dropdown-menu
                li
                  a(href='/assessment-form') Assessment Score Data Entry Form
                li
                  a(href='/assessment-scores') Assessment Scores
                  
                li.divider
                li
                  a(href='/crawler') Web Crawler
                  
                li.divider
                li
                  a(href='/consequence-picker') Consequence Picker
              li
                a(href='#about') About
                
    .container-fluid.big-logo-row
      .container
        .row
          .col-xs-12.big-logo-container
            h1.big-logo ↧Big Outsource

    .main-content
      block content

    .footer-wb
      p Copyright 2017 Jigno Alfred V. Venezuela © Big Outsource
