html
  head
    title Home - BIG Outsource
    
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/topnav.js')
    link(rel='stylesheet', href='/styles.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='../stylesheets/style.styl')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='shortcut icon', href='/favicon.png')
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#4DA5F4')
    meta(name='csrf-token', content='n9ASBwi9VE3GnK48Fdz7kL5FbajpjYSMHVIG8=')
    style(type='text/css')
      @import url("https://fonts.googleapis.com/css?family=SourceCodePro:400,200,700");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Source Code Pro', monospace;
      }
      .main-content {
        margin: 50px 100px;
        max-width: 1200px;
      }
      .main-content p {
        color: #868889;
        font-size: 19px;
        line-height: 1.6;
        margin-bottom: 1.7em;
      }
      .footer-wb {
        margin: 50px auto;
        max-width: 600px;
        border-top: 1px solid #444;
        padding: 20px 0;
      }
      .footer-wb p {
        color: #444;
        font-size: 12px;
      }
      @media (min-width: 767px) {
        .navbar-nav .dropdown-menu .caret {
          transform: rotate(-90deg);
        }
      }
      .navbar-inverse {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: none;
      }
      .navbar-inverse .navbar-toggle {
        border: 1px solid #333;
        border-color: rgba(255,255,255,0.7);
      }
      .navbar-inverse .navbar-nav > li > a {
        color: #686565;
      }
      .navbar-inverse .navbar-nav > li > a:hover .navbar-inverse .navbar-nav > li > a:focus {
        color: #686565;
      }
      .navbar-inverse .navbar-collapse,
      .navbar-inverse .navbar-form {
        border-color: transparent;
      }
      @media (max-width: 767px) {
        .navbar-inverse .navbar-collapse .navbar-inverse .navbar-form {
          background: rgba(255,255,255,0.75);
        }
      }
      .small-logo-container {
        padding-top: 50px;
        height: 50px;
        overflow: hidden;
      }
      .small-logo {
        font-size: 2.5em;
        padding-bottom: 4px;

      }
      .small-logo > b {
        font-size:30px;
        font-family: arial;
        color: #002a43;
      }
      .small-logo > span {
        font-size:20px;
        font-family: arial;
        color: #676262;
      }
      /**********/
      .big-logo-row {
        background: #002a43;
      }
      .big-logo-row .big-logo-container {
        padding-top: 50px;
      }
      .big-logo > b {
        font-family: arial;
        color: #fff;
      }
      .big-logo > span {
        font-family: arial;
        color: #676262;
      }
      .h1 {
        font-size: 4em;
        margin: 0;
        padding: 0 0 20px 0;
      }
      /**************/
      @media (min-width: 400px) {
        .h1 {
          font-size: 4.5em;
        }
      }
      @media (min-width: 440px) {
        .h1 {
          font-size: 5.5em;
        }
      }
      @media (min-width: 500px) {
        .h1 {
          font-size: 6.5em;
        }
      }
      @media (min-width: 630px) {
        .h1 {
          font-size: 7.5em;
        }
      }
      @media (min-width: 768px) {
        .h1 {
          font-size: 9em;
          padding-bottom: 40px;
        }
      }
      @media (min-width: 1200px) {
        .h1 {
          font-size: 12em;
        }
      }
      .cons-btn {
        font-size: 16px;
        width: 300px;
        background-color: #e64c66;
        color: #fff;
        text-align: center;
        padding: 10px;
        margin: auto 40px;
        border-radius: 20px;
        box-shadow: -4px 4px 8px #333;
      }
      .cons-btn p {
        text-align: center;
        margin: 20px auto;
      }
      .cons-btn:hover {
        background-color: #e14761;
        box-shadow: -2px 2px 4px #333;
      }
      .cons-btn:active {
        box-shadow: none;
        background-color: #d73d57;
      }
      #consequences {
        color: #2d3e50;
        display: inline-block;
        border: 1px solid #333;
        text-align: center;
        padding: 10px;
        min-height: 70px;
        width: 600px;
        margin-left: 40px;
        background-color: #fff;
        border-radius: 5px;
      }
      #search {
        text-align: center;
        width: 500px;
        height: 70px;
        font-size: 3.5em;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
      }
      #location {
        text-align: center;
        width: 400px;
        height: 70px;
        font-size: 2.5em;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
      }
      #search-btn {
        text-align: center;
        width: 200px;
        height: 100px;
        font-size: 2.5em;
        border-radius: 8px;
        display: inline-block;
      }

  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .small-logo-container
            a.small-logo(href='#')
              b BIG
              span outsource
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='/')
                span.fa.fa-home(aria-hidden='true')
                |  Home
            li
              a(href='/applicant/exam')
                span.fa.fa-bar-chart(aria-hidden='true')
                |  Applicant Assessment
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.fa.fa-users(aria-hidden='true')
                |  Intern Tools 
                b.caret
              ul.dropdown-menu
                li
                  a(href='/intern/assessment-form')
                    span.fa.fa-caret-right(aria-hidden='true')
                    |  Assessment Score Data Entry Form
                li.divider
                li
                  a(href='/crawler')
                    span.fa.fa-caret-right(aria-hidden='true')
                    |  Web Crawler
                li.divider
                li
                  a(href='/intern/consequence-picker')
                    span.fa.fa-caret-right(aria-hidden='true')
                    |  Consequence Picker
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.fa.fa-user-circle-o(aria-hidden='true')
                |  Admin Tools 
                b.caret
              ul.dropdown-menu
                li
                  a(href='/applicant/scores')
                    span.fa.fa-caret-right(aria-hidden='true')
                    |  Assessment Scores
            li
              a(href='#about')
                span.fa.fa-info-circle(aria-hidden='true')
                |  About
            li
              a(href='/login') Login
            li
              a(href='/signup') Create Account
    .container-fluid.big-logo-row
      .container
        .row
          .col-xs-12.big-logo-container
            h1.big-logo
              b BIG
              span OUTSOURCE
    .container
      h1 Hackathon Starter
      p.lead A boilerplate for Node.js web applications.
      hr
      .row
        .col-sm-6
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-sm-6
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-sm-6
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-sm-6
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
    footer
      .container.text-center
        p.pull-left © 2016 Company, Inc. All Rights Reserved
        ul.pull-right.list-inline
          li
            a(href='https://github.com/sahat/hackathon-starter') GitHub Project
          li
            a(href='https://github.com/sahat/hackathon-starter/issues') Issues
    script(src='/js/lib/jquery-2.2.0.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')
    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X', 'auto');
      ga('send', 'pageview');
