extends ../layout

block scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js")
  script(type='text/javascript', src='/javascripts/crawler.js')

block content
    .container
      h1 Search in Newcastle Upon Tyne
      input#search(type="search", placeholder="Search Yell.com")
      ul#results(data-role='listview', data-filter='true')
      include crawl-template.html    
      


        
