@import url("https://fonts.googleapis.com/css?family=SourceCodePro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}
.header-wb {
  background: url("https://images.unsplash.com/photo-1451337516015-6b6e9a44a8a3?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  min-height: 300px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-title {
  font-weight: 200;
  font-size: 80px;
  text-align: center;
  padding: 100px;
  text-transform: uppercase;
  color: #fff;
}
.nav-wb {
  background: #000;
  text-align: center;
}
.nav-wb li {
  display: inline-block;
}
.nav-wb a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav-wb a:hover {
  background-color: #3ab795;
  text-decoration: underline;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer-wb {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer-wb p {
  color: #444;
  font-size: 12px;
}
.cons-btn {
  font-size: 16px;
  width: 300px;
  background-color: #e64c66;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: auto 40px;
  border-radius: 20px;
  box-shadow: -4px 4px 8px #333;
}
.cons-btn p {
  text-align: center;
  margin: 20px auto;
}
.cons-btn:hover {
  background-color: #e14761;
  box-shadow: -2px 2px 4px #333;
}
.cons-btn:active {
  box-shadow: none;
  background-color: #d73d57;
}
#consequences {
  color: #2d3e50;
  display: inline-block;
  border: 1px solid #333;
  text-align: center;
  padding: 10px;
  min-height: 70px;
  width: 600px;
  margin-left: 40px;
  background-color: #fff;
  border-radius: 5px;
}
