@import url('https://fonts.googleapis.com/css?family=SourceCodePro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Source Code Pro', monospace

.main-content
  margin 50px 100px
  max-width 1200px

  p
    line-height 1.6
    margin-bottom 1.7em

.footer-wb
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px

/*Stylus variables for navbar height*/
navbar-height = 50px
big-logo-padding =  20px
small-logo-padding = 4px

/*Multilevel dropdown*/
@media (min-width: 767px)
    .navbar-nav
        .dropdown-menu
            .caret
                transform rotate(-90deg)

.navbar-inverse
    background: rgba(62,195,246,0)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    border-bottom: none

.navbar-inverse .navbar-toggle
    border: 1px solid #333
    border-color: rgba(255, 255, 255, 0.7)

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
    border-color: transparent
    @media (max-width: 767px)
      background: rgba(255,255,255,0.75)

.navbar-inverse .navbar-nav > li > a
    color: black

    &:hover &:focus
      color: #22F

.small-logo-container
    padding-top: navbar-height
    height: navbar-height
    overflow: hidden

.small-logo
    color: white
    font-size: 2.5em
    padding-bottom: small-logo-padding

.big-logo-row
    background: gold

    .big-logo-container
      padding-top: navbar-height

.h1
    font-size: 4em
    margin: 0
    padding 0 0 big-logo-padding 0

    @media (min-width: 400px)
      font-size: 4.5em
    @media (min-width: 440px)
      font-size: 5.5em
    @media (min-width: 500px)
      font-size: 6.5em
    @media (min-width: 630px)
      font-size: 7.5em
    @media (min-width: 768px)
      font-size: 9em
      padding-bottom: big-logo-padding * 2
    @media (min-width: 1200px)
      font-size: 12em

/*Consequences*/
.cons-btn
  font-size: 16px
  width: 300px
  background-color: #E64C66
  color: white
  text-align: center
  padding: 10px
  margin: auto 40px
  border-radius: 20px
  box-shadow: -4px 4px 8px #333

  p
    text-align: center
    margin: 20px auto

  &:hover
    background-color: (#E64C66 - 5)
    box-shadow: -2px 2px 4px #333

  &:active
    box-shadow: none
    background-color: (#E64C66 - 15)

#consequences
  color: #2D3E50
  display: inline-block
  border: 1px solid #333
  text-align: center
  padding: 10px
  min-height: 70px
  width: 600px
  margin-left: 40px
  background-color: #fff
  border-radius: 5px

/*Crawler*/
#search
  text-align: center
  width:500px
  height: 70px
  font-size:3.5em
  border-radius:8px
  margin: 10px
  padding: 10px

#location
  text-align: center
  width:500px
  height: 70px
  font-size:3.5em
  border-radius:8px
  margin: 10px
  padding: 10px


#search-btn
  text-align: center
  width: 200px
  height: 100px
  font-size: 2.5em
  border-radius: 8px
  display: inline-block
